<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <ng-container
      *ngIf="
        userLoggedIn$ | async as userLoggedIn;
        then loggedIn;
        else loggedOut
      "
    ></ng-container>

    <!-- User Logged Out -->
    <ng-template #loggedOut>
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="loginWithMetamask()"
          >Metamask Login</a
        >
        <a mat-list-item routerLink="/" (click)="loginWithWalletConnect()"
          >WalletConnect Login</a
        >
      </mat-nav-list>
    </ng-template>

    <!-- User Logged In -->
    <ng-template #loggedIn>
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="logout()">Logout</a>
      </mat-nav-list>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isHandset$ | async"
        (click)="drawer.toggle()"
        type="button"
        mat-icon-button
        aria-label="Toggle sidenav"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>{{ title }}</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content *ngIf="user$ | async as user">
        <!-- User -->
        <mnx-user [user]="user"></mnx-user>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
