<header class="flex">
  <h1>{{ title }}</h1>
</header>
<main>
  <ul class="resources">
    <ng-container
      *ngIf="
        userLoggedIn$ | async as userLoggedIn;
        then loggedIn;
        else loggedOut
      "
    ></ng-container>

    <!-- User Logged Out -->
    <ng-template #loggedOut>
      <li class="col-span-2">
        <a class="resource flex" href="#" (click)="loginWithMetamask()"
          >Login With Metamask</a
        >
        <a class="resource flex" href="#" (click)="loginWithWalletConnect()"
          >Login With WalletConnect</a
        >
      </li>
    </ng-template>

    <!-- User Logged In -->
    <ng-template #loggedIn>
      <li #elseBlock class="col-span-2">
        <a class="resource flex" href="#" (click)="logout()">Logout </a>
      </li>
    </ng-template>
  </ul>

  <ng-container *ngIf="user$ | async as user">
    <!-- User -->
    <ac-user [user]="user"></ac-user>
  </ng-container>
</main>
